#Menu{
    position:relative;
    left: 10px;
    width: 1100px;
    height: 400px;
}
#content1{
    position:absolute;
    left: 150px;
    width: 300px;
    height: 250px;
}
#content2{
    position:absolute;
    left: 700px;
    width: 300px;
    height: 250px;
}

.card{
    position:absolute;
    left: 32%;
    top: 50%;
    width: 340px;
    height: 350px;
    transform: translate(-50%,-50%);
    border-radius: 60%;
    background-color:#7ba2ce;
    margin: 62px;
}
.face{
    position:absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 60%;  
    transition: 2s;
}
.img{
    width: 100%;
    height: 100%;
}
.front{
    transform: perspective(600px)rotateY(0deg);
    box-shadow: 0 8px 10px white;
}
.back{
    position: absolute;
    transform: perspective(600px)rotateY(180deg);
    background-color: rgb(220, 233, 233);
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    box-shadow: 0 8px 10px black;
}
.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
.lin{
    border-top: solid  1px white;
    padding-top: 25px;
}
.a{
    color: black;
    font-size: 18px;
    text-decoration: none;
}