.header1 {
    background-color: cadetblue;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70px;
    align-items: center;
   
}
.info{
    text-align: center;
    padding: 50px;
}

.txt1 p{
    text-align:justify;
}
.donar {
    list-style: none;  
    padding: 0;
}
.donar li{
    padding: 10px;
    border-bottom: 2px solid #ccc;
    cursor: pointer;
}
.donar li:hover{
    background-color: #6eb1dd;
}


