@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}
body{
    background-color: rgb(154, 190, 221);
    align-items: center ;
}
.title{
   position: absolute;
   right: 700px;
   top: 40%;
}
.boton {
    text-decoration: none;
	display: inline-block;
	padding: 11px 35px;
	border: 2px solid #9ae1ee;
	border-radius: 25px;
	margin-right: 25px;
	font-size: 17px;
	color: aliceblue;
	background-color:#233437 ;
}

